@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.productWrap {
    display: grid; 
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto 1fr;
    gap: 20px 50px; 
    grid-template-areas: 
        "photo info"
        "review info"; 

    @include mobile {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: 1fr auto auto; 
        gap: 20px 50px; 
        grid-template-areas: 
            "photo"
            "info"
            "review"; 
    }
}

.productPhoto {
    grid-area: photo;
    max-width: calc((1280px - 50px) / 2);

    @include mobile {
        max-width: 100%;
    }
}

.productReview { 
    grid-area: review;
}

.productInfo { 
    grid-area: info;
}

.price {
    font-size: calculateRem(20px)
}

.priceBeforeDiscount {
    text-decoration: line-through;
    display: inline-block;
    margin-right: 10px;
}