@import 'mixins';

.controlWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;

    @include mobile {
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
    }
}

.filterWrap {
    max-width: 60%;

    @include mobile {
        max-width: 100%;
    }
}

.sortWrap {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > h4 {
        margin-bottom: 10px;
    }

    @include mobile {
        width: 100%;
        display: flex;
    }
}