@import 'colors';
@import 'mixins';

.headerWrap {
    padding: 20px 40px;
    border-bottom: solid 2px $black-25;
    margin-bottom: 20px;

    @include mobile {
        padding: 20px;
    }
}

.headerTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    font-size: calculateRem(24px);
}

// .searchBar {
//     padding: 20px 0;
// }