@import 'colors';
@import 'mixins';

.headerWrap {
    padding: 20px 40px;
}

.headerTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.searchBar {
    padding: 20px 0;
}