@import 'mixins';

.productListing {
    display: flex;
    row-gap: 40px;
    column-gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @include mobile {
        column-gap: 20px;
        row-gap: 20px;
    }
}