@import 'colors';

.toggleButton {
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;

    li {
        list-style: none; 
        height: 40px;
        cursor: pointer;
    }

    label {
        background-color:#0b1b35;
        display: block;
        width: fit-content;
        color: $white;
        border-radius: 25px;

        span {
            font-size: 14px;
            padding: 5px 20px;
            display: block;
            border-radius: 20px;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }

        input {
            position:absolute;
            top:-20px;
            background-color:#0b1b35;
        }

        input:checked + span {
            background-color:#88B646;
            color:#F7F7F7;
        }
    }
} 